<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.epic.dlbsweep">

    <application
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:label="Third Party App"
        android:theme="@style/LaunchTheme">

        <service android:name=".FirebaseMessagingService"
            android:exported="false">
        </service>

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Firebase Metadata -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!-- Firebase API Key -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="1:662786193542:android:814342f0368b8b40d43907" />

        <!-- Firebase Services -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default_channel" />
        <meta-data
            android:name="firebase_database_url"
            android:value="https://dlb-sweep-a8ebb.firebaseio.com" />
        <meta-data
            android:name="google_storage_bucket"
            android:value="dlb-sweep-a8ebb.appspot.com" />
        <meta-data
            android:name="google_app_id"
            android:value="1:662786193542:android:814342f0368b8b40d43907" />
        <meta-data
            android:name="google_crash_reporting_api_key"
            android:value="AIzaSyApjBK-GaNdfEz_p_Pk52f6G0KHFW46pHA" />
        <meta-data
            android:name="project_id"
            android:value="dlb-sweep-a8ebb" />

        <!-- Flutter Plugin Metadata -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <service android:name="com.dexterous.flutterlocalnotifications.ForegroundService" android:foregroundServiceType="mediaProjection"/>
    </application>

    <!-- Required permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <!-- Package visibility for PROCESS_TEXT -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
